* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #181818;
  margin: 0 5.2rem;
}

body h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 70px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.logo {
  margin-right: 15rem;
  height: 4rem;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.social-media img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.cv-download {
  background-color: #BF0206;
  color: white;
  padding: 10px 20px;

  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

nav a h5:hover {
  font-size: 1rem;
  font-weight: bold;
}

.banner-youtube {
  height: 20rem;
  width: auto;
  margin-top: 20px;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: linear-gradient(#75D1F6, #FCC6DE, #FCE3AB);
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
}

.photo {
  max-height: 100%;
}

.text-banner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: black;
}

.text-banner .chamada-youtube {
  font-size: 1.3rem;
}

.text-banner a {
  text-decoration: none;
  width: 14rem;

}

.text-banner a section {
  background-color: black;
  height: 4rem;
  width: 14rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.text-banner a section p {
  color: white;
  font-size: 1.3rem;
}

.text-banner a img {
  height: 4rem;
}

.myvalues {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:repeat(2, 1fr);
  gap: 1rem;
}

.content-myvalues {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
  border: 1px solid red;
  height: 22rem;
  width: 18rem;
  background: linear-gradient(#75D1F6, #447A90);
  padding: 1rem;
  border-radius: 10px;
  color: black;
}

.content-title-myvalues {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;
}

.content-title-image-myvalues {}

.content-title-text-myvalues {}

.context-text-myvalues {}