<template id="headerTemplate">
    <header>
        <img class="logo" src="assets/images/favicon.webp" alt="">
        <nav>
            <a href="index.html">
                <h4>Home</h4>
            </a>
            <a href="projects.html">
                <h4>Projetos</h4>
            </a>
            <a href="articles.html">
                <h4>Artigos</h4>
            </a>
            <a href="videos.html">
                <h4>Vídeos</h4>
            </a>
        </nav>
        <section class="social-media">
            <a href="https://www.linkedin.com/in/andrevalverdebrazil"><img src="assets/images/linkedin.png" alt=""></a>
            <a href="https://github.com/andrepixel"><img src="assets/images/github.png" alt=""></a>
        </section>
        <a class="cv-download" href="assets/CV - André Valverde.pdf" download="CV - André Valverde.pdf">Baixar CV</a>
    </header>
</template>